body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  z-index: 20;

}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li img {
  width:50px;
  height:50px;
  margin-left: -20px;
}

.sign{

  background-color: rgb(199, 199, 241);
  width: 75px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  margin-left: -30px;
  margin-right: 50px;
}
.test-0-nav-4 {
  font-size: 20px;

  margin-top: -23px;
}

/* Reset */
*{margin:0;padding:0;}

body{
  min-width:900px;
}
/* Slider */
#slider{
  width:100%;
  height:500px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
}
.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:auto;
}

/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:300px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h1{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}
.content-txt h2{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:30px;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
  z-index: 3;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/* main */
/* Reset */
a{text-decoration:none;color:inherit;}
html{width:100%;height:100%;}

/* Body */
body{
  background:#fff;
}

/* Header */
header{
  width:100%;
  height:80px;
  background:#222;
}
.test-logo{
  width:50px;
  height:65px;
  position:relative;
  top:7.5px;
  float:left;
  margin-left:5%;
  z-index: 4;
}


nav{
  width:auto;
  height:100%;
float: right;
  margin-right:5%;
  list-style:none;
}
nav li{
  width:auto;
  margin-right:20px;
  float:left;
}
nav li a{
  font-family:Arial;
  font-size:16px;
  color:#fff;
  line-height:80px;
}
nav select{
  width:150px;
  height:30px;
  margin-top:25px;
  font-family:Arial;
  font-size:14px;
  color:#666;
  border:2px solid #aaa;
  padding-left:10px;
}
nav select:focus{
  outline:none;
}

/* Content */
.container{
  width:70%;
  height:auto;
  padding:20px 0;
  margin:20px auto;
}
.container h1{
  font-family:Arial;
  font-size:36px;
  color:#222;
  text-transform:uppercase;
  margin:20px 0;
}
.container h2{
  font-family:arial;
  font-size:24px;
  color:#222;
  margin-top:10px;
  margin-bottom:10px;
}
.container h3{
  font-family:arial;
  font-weight:normal;
  font-size:16px;
  color:#444;
}
.code{
  width:600px;
  height:auto;
  margin:20px auto;
  padding:10px 20px;
  background:#222;
  border-left:10px solid #aaa;
  font-family: arial;
  font-size:16px;
  color:#fff;
}
.code span{
  color:#89A978;
}
.space{
  width:20px;
  height:1px;

}

footer{
  width:100%;
  height:50px;
  background:#222;
  color: aliceblue;
  font-size: 20px;
}
footer h1{
  font-family:Arial;
  font-weight:normal;
  font-size:24px;
  color:#fff;
  margin-left:5%;
  line-height:50px;
}

#credits{
  position:relative;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  font-family:'Open Sans', sans-serif;
  color:#b297a2;
  font-size:10px;
  text-transform: uppercase;
  text-align : center;
}
#credits a {
  color:#b297a2;
}
select{
  border-radius:10px;
  background-color:#ffffff;
  height: 50px;
  width: 200px;
  margin-right: 90px;
  margin-left: 20px;
}
form{
   background-color: white;

}
fieldset{
  font-size: 30px;
  margin-left: 100px;
  border-radius: 10px;
}
header img{
  width: 250px;
  height: 50px;
  margin-top: 10px;
  padding-top: 10px;
}
button {
  padding: 5px 10px;
  background-color: #222;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family:Arial;
  font-size:16px;
}
h1{
  font-size: 70px;
  
}
/* center container in the middle */

.container2 {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: rgba(255, 255, 255, 0.204);
  box-shadow: 5px 5px 15px rgba(rose, .5);
  border-radius: 10px;
  margin-top: 20px;
}

.product p {
  font-size: 0.6em;
  color: rose;
  letter-spacing: 1px;
}

.product h1 {
  font-size: 1.2em;
  color: dark;
  margin-top: -5px;
}

.product h2 {
  color: tan;
  margin-top: -5px;
}

.product img {
  width: 290px;
  margin-top: 47px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: light;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 55%;
  background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(8px);
  border-radius: 5px;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: dark;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.buttons button {
  background: darken(light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;

}

.add {
  width: 70%;
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color: pink;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
  &:hover {
    cursor: pointer;
  }
}

.pick {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid light;
  font-size: 0.7em;
  text-align: center;
  &:hover{
    background: rose;
    color: white;
    transition: all .4s ease-in-out;
  }
}

.focus{
  background: rose;
  color: white;
}
.sales{
  display: inline-flex;

}
.container3{

    position: relative;
    margin: auto;
    overflow: hidden;
    width: 520px;
    height: 350px;
    background: rgba(255, 255, 255, 0.204);
    box-shadow: 5px 5px 15px rgba(rose, .5);
    border-radius: 10px;
    margin-top: 20px;
  
}
.container2{
margin-left: 10px;
border-radius: 10px;
}
.search{
  background-color: #3f98f8;
  font-size: 30px;
  border-radius: 10px;
  margin-left: 400px;
}
.otzivi{
  align-items: center;
}
.otziv{
  display: flex;
  margin-bottom: 20px;
  background-color: rgb(255, 249, 243);
  padding: 10px;
  width: 70%;
}
.otziv img{
  background-color: rgb(255, 221, 187);
  border-radius: 50%;
width: 50px;
height: 50px;}